<!doctype html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-app="app" class="container">

<div class="page-header">
  <h1>
    <i class="glyphicon glyphicon-th-list"></i> Contact List
    <small>of random people</small>
  </h1>
</div>

<div class="jumbotron" ng-controller="PeopleController as people">
  <div class="row">
    <div class="col-sm-6">
      <form role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
            <a href="" ng-click="search=''" class="input-group-addon">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          </div>
        </div>
        <div class="form-group">
          <label for="orderBy" class="control-label">Order By:</label>

          <div class="input-group">
            <select id="orderBy" type="text" ng-model="order" class="form-control" placeholder="Search">
              <option value="">None</option>
              <option value="name">Name</option>
              <option value="position">Position</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <div class="list-group">
        <span class="list-group-item" ng-repeat="person in people.list | filter:search | orderBy:order">
          <button class="btn btn-danger btn-sm" ng-click="people.delete(person)">
            <i class="glyphicon glyphicon-trash"></i> Delete
          </button>
          <i class="glyphicon glyphicon-user"></i> {{person.name}}
          <span class="label label-primary pull-right">{{person.position}}</span>
        </span>
      </div>
    </div>
  </div>
</div>

</body>

<script>
  angular.module('app', ['ngResource'])
      .factory('Person', function ($resource) {
        return $resource('assets/people.json');
      })

      .controller('PeopleController', function (Person) {
        this.list = Person.query();

        this.delete = function (person) {
          this.list.splice(this.list.indexOf(person), 1);
        };
      });
</script>
</html>